/*  co mmon section start  */
:root {
  --montserrat: "Montserrat", sans-serif;
  --subrayada: "Montserrat Subrayada", sans-serif;
  --raleway: "Raleway", sans-serif;
}
img{
  width: 100%;
}
/*  co mmon section end  */
.top-banner {
  background-image: url("../image/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 550px;
  position: relative;
  z-index: 1;
}
.top-banner::before {
  padding: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.top-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.top-Title{
    font-family: var(--montserrat);
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}
.top-sub-Title{
    font-family: var(--raleway);
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.ecoomerceIcon,
.design,
.web{
  width:80px;
  height:80px;
}
.service{
  padding-bottom: 80px;
}
.Service-card{
  margin: 5px;
  padding: 60px 30px;
  box-shadow:0 0 8px 0 rgba(4, 55, 105, 0.2);
  transition: all linear 0.4s;
}
.Service-card:hover{
  box-shadow:0 0 16px 0 rgba(4, 55, 105, 0.2);
}
.Service-name{
  font-family: var(--raleway);
  font-size: 24px;
  font-weight: 700;
  color: #051b35;
  margin-top: 1rem;
}
.service-desc{
  font-family: var(--raleway);
  font-size: 15px;
  font-weight: 400;
  color: #505050;
  margin-top: 1rem;
  text-align: justify;
}
.service_title{
  font-family: var(--montserrat);
  font-size: 28px;
  font-weight: 700;
  color: #051b35;
  padding: 5rem 0;
  text-transform: uppercase;
}
.bottom{
  background: #051b35;
  height: 3px;
  width: 100px;
  margin: -4.9rem auto 0;
  margin-bottom: 3rem;
}
.nav_title{
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  transition: all linear 0.4s;
}
.nav_scroll{
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 30px;
  color: #051b35;
  transition: all linear 0.4s;
}
.logo{
  transition: all linear 0.4s;
}
.background{
  background-color: transparent !important;
  transition: all linear 0.4s;
}
.background_scroll{
  background-color: #fff !important;
  transition: all linear 0.4s;
}
.navItem{
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 16px;
  color: #fff !important;
  transition: all linear 0.4s;
}
.navItem_scroll{
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 16px;
  color: #000 !important;
  transition: all linear 0.4s;
}
.summary {
  background-image: url("../image/summary.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 550px;
  position: relative;
  z-index: 1;
}
.summary::before {
  padding: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 6, 41, 0.7);
  z-index: -1;
}
.summary_title{
  font-family: var(--montserrat);
  font-weight: 700 !important;
  font-size: 40px !important;
  color: #fff !important;
  transition: all linear 0.4s;
}
.summary_details{
  font-family: var(--raleway);
  font-size: 20px !important;
  font-weight: 400;
  color: #ffd900 !important;
}

.card_title{
  font-family: var(--montserrat);
  font-size: 20px !important;
  font-weight: 700 !important;
  color: #000;
  padding-bottom: 8px;
}
.card_subtitle{
  font-family: var(--raleway);
  font-size: 14px !important;
  color: #000;
}
.sum_icon i{
  font-size: 40px;
  color: #fff;
}
.summary_content{
  margin-top: 10%;
}
.Summary_card{
  margin: 10% 0;
}
.project-card{
  background-color: #fff;
  border-radius: 0.6em;
  margin: 1em;
  cursor: pointer;
  box-shadow: 0 13px 25px -5px;
  transition: all linear 0.4s;
}
.project-card:hover{
  transform: scale(1.03);
  box-shadow: 0 13px 30px -5px;
}
.viewDetails{
  color: #051b35;
  font-family: var(--montserrat);
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}
.videoCard{
  box-shadow: 0 13px 10px -5px;
  padding: 8rem 3rem 8rem 3rem;
  background-color: #051b35;
  margin: 20px auto;
  border-radius: 5px;
}
@media (max-width: 576px) { 
  .Recent_projects{
    padding-top: 200px;
  }
 }