.top-banner{
    background-image: url('../image/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 550px;
    position: relative;
}